@import "tailwindcss";

html,
body {
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

@font-face {
	font-family: "WDXLLubrifontJPN-Regular";
	src: url("/fonts/WDXLLubrifontJPN-Regular.ttf") format("truetype");
	font-weight: 400;
}

@theme {
	/* fonts */
	--font-WDXLLubrifontJPN-Regular: "WDXLLubrifontJPN-Regular", sans-serif;

	/* colors dark theme*/
	--color-graphite-400: #86888a;
	--color-graphite-500: #797b7e;
	--color-graphite-600: #6d7073;
	--color-graphite-700: #4c4f52;
	--color-graphite-800: #383c40;
	--color-graphite-900: #2e343b;
	--color-graphite-950: #22272c;

	/* colors light theme*/
	--color-sand-400: #f0f0ed;
	--color-sand-500: #e6e7e3;
	--color-sand-600: #d9dad6;
	--color-sand-700: #c9cbc6;
	--color-sand-800: #b5b7b2;
	--color-sand-900: #9fa19c;
	--color-sand-950: #888b86;
}
